a {
    text-decoration: none;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;

}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation Bar */
.navbar {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}

.nav-links {
    color: #E5E7EB;
    font-size: 18px;
}

.nav-links a:visited {
    color: #E5E7EB
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

/* Hero Content Section */
.hero {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px
}

.hero-content {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    gap: 20px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero a {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    display: inline-block;
    align-self: flex-start;
}

.hero-image {
    width: 45%;
    height: 400px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Services Section */
.services h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 48px
}

.services h3 {
    color: #1F2937;
    font-size: 18px;
}

.services-content {
    display: flex;
    justify-content: space-around;
    margin: 48px;
    /* max-width: 50%; */
}

.services-card {
    padding: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service-icon {
    display: inline-block;
    border: 5px solid #3882F6;
    border-radius: 12px;
    padding: 5px;
}

/* Reviews Section */

.reviews {
    background-color: #E5E7EB;
    /* text-align: center; */
}

blockquote {
    margin: 48px;
    padding: 48px;
    background-color: #E5E7EB;
    font-style: italic;
    padding: 50px;
}

blockquote p {
    font-size: 36px;
    color: #1F2937;
}

cite {
    display: block;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    color: #1F2937;
    padding-right: 20px;
    text-align: right;
}

/* Contact Us Section */

.contact-us {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 48px;
    padding: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.contact-us a {
    color: #F9FAF8;
    display: inline-block;
    border: 2px solid #F9FAF8;
    padding: 10px 20px;
    border-radius: 12px;
}

.contact-us a:visited {
    color: #F9FAF8;

}

/* Footer */

footer {
    background: #1F2937;
    text-align: center;
    width: 100%;
}

footer p {
    color: #F9FAF8;
    padding: 48px;
}